<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/static/222.css"/>
<script type="text/javascript">
    {% if error %}
     alert("{{error}}");
    {% endif %}
</script>
</head>
<body>
<div id="Login">
<h1>Login</h1>
<h2>小飞组长私密空间欢迎您！</h2>
<form action="{{url_for('index')}}" method="post">
<input type="text" required="required" placeholder="用户名" name="u">   </input>
<input type="password" required="required" placeholder="密码" name="p">
</input>
<button class="bt" type="submit">登录</button>
<a href="{{url_for('Register')}}">还没有账号？点此进行注册</a>
</form>
</div>
</body>
</html>
